
    @{
        ViewData["Title"] = "Index";
    }
    <!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" a href="/css/design.css">
    </head>
    <div class="jumbotron text-center" style=" background-color:#e1d6cf">
        <img src="~/lib/image/logo.png" class="text-md-center" width="230" height="200" />
        <h1> Shop Now!</h1>
        <h3><i>Project Care: To Care is To Share.</i></h3>
        <meta name="viewport" content="width=device-width" />
    </div>
    <body style="background-color: #f7f2ef">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #c4aca5;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="~/Home/Index">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="~/Order/Create">Create New Order</a>

                </div>
            </div>
        </nav>
        <div>
            <br />
            <h2><u> BADDIE MANILA</u> </h2>
            <center>
                <img src="~/lib/image/final-logo.png" class="text-md-center" width="230" height="200">
            </center>
            <p style="text-align:center">
                <br />
                <br />
                ● Everything posted is available. <br />
                ● We accept SAME DAY DELIVERY and COD (For on-hand items) <br />
                ● We donate 50% of our sales to those who are in need. <br />
                ● Transparency report link: <a href="https://www.instagram.com/p/CHqY-ZKBgMC/?utm_source=ig_web_copy_link">Click Me!</a>
            </p>
        </div>
        <br />
        <div class="row">
            <div class="column">
                <img src="~/lib/image/bag1.png" alt="bag1" style="width:100%">
                <h3> Double Chain Sling Bag</h3>
                <center>
                    <p>Available Colors: Beige and Black</p>
                    <p>Price: P 350.00 </p>
                </center>
            </div>
            <div class="column">
                <img src="~/lib/image/bag2.png" alt="bag2" style="width:100%">
                <h3> Ruffled Black Hand Bag</h3>
                <center>
                    <p>Available Colors: Cream and Black</p>
                    <p>Price: P 300.00</p>
                </center>
            </div>
            <div class="column">
                <img src="~/lib/image/bag3.png" alt="bag3" style="width:100%">
                <h3> Crocodile Chain Sling Bag</h3>
                <center>
                    <p>Available Colors: Lavender, Cream and Black</p>
                    <p>Price: P 400.00</p>
                </center>
            </div>
            <div>

            </div>
            <div class="column">
                <img src="~/lib/image/fit1.png" alt="fit1" style="width:100%">
                <h3> White Corporate Terno</h3>
                <center>
                    <p>Available Colors: White and Beige</p>
                    <p>Price: P 500.00</p>
                </center>
            </div>
            <div class="column">
                <img src="~/lib/image/fit2 (2).png" alt="fit2" style="width:100%">
                <h3> Black Ruffled Crop Top</h3>
                <center>
                    <p>Available Colors: Lilac and Black</p>
                    <p>Price: P 450.00</p>
                </center>
            </div>
            <div class="column">
                <img src="~/lib/image/fit3.png" alt="fit3" style="width:100%">
                <h3> White Coachella Top</h3>
                <center>
                    <p>Available Colors: White and Black</p>
                    <p>Price: P 350.00</p>
                </center>
            </div>
            <div class="column">
                <img src="~/lib/image/acc1.png" alt="acc1" style="width:100%">
                <h3> Lumina Necklaces (Set of 6)</h3>
                <center>
                    <p>Available Colors: Gold </p>
                    <p>Price: P 350.00</p>
                </center>
            </div>
            <div class="column">
                <img src="~/lib/image/acc2.png" alt="acc2" style="width:100%">
                <h3> Asteria Bracelets (Set of 3)</h3>
                <center>
                    <p>Available Colors: Silver</p>
                    <p>Price: P 300.00</p>
                </center>
            </div>
            <div class="column">
                <img src="~/lib/image/acc3.png" alt="acc3" style="width:100%">
                <h3> Dragunov Set</h3>
                <center>
                    <p>Available Colors: Gold</p>
                    <p>Price: P 400.00</p>
                </center>
            </div>
            <br /><br />
            <h2><u> THE FLOUR GIRL </u></h2>
            <center>
                <img src="~/lib/image/flour-logo.png" class="center" width="300" height="300">
            </center>
        </div>
        <p style="text-align:center">
            <br /><br />
            ● Inquirer’s BestDesserts — HundredGramCookie™️ (Sunday only) <br />
            ● Place your order 2-3 days advance to your desired delivery date. <br />
            ● ON-GOING COOKIES FOR A CAUSE: <a href="https://www.instagram.com/p/CNlkOcpHkVD/?utm_source=ig_web_copy_link">Click Me!</a>
        </p>
        <br />
        <div class="row">
            <div class="column">
                <img src="~/lib/image/cookie1.png" alt="cookie1" style="width:100%">
                <h3> The OG Chocolate Chip Cookie Box Set</h3>
                <center>
                    <p>Includes: 6 palm-sized Cookies</p>
                    <p>Price: P 600.00 </p>
                </center>
            </div>
            <div class="column">
                <img src="~/lib/image/cookie2.png" alt="cookie2" style="width:100%">
                <h3> The Carrot Goodness Cookie</h3>
                <center>
                    <p>Includes: 1 palm-sized cookie</p>
                    <p>Price: P 105.00 </p>
                </center>
            </div>
        <br />
        <div class="column">
            <img src="~/lib/image/cookie3 (2).png" alt="cookie3" style="width:100%">
            <h3> The Half Cookie</h3>
            <center>
                <p>Includes: 1 palm-sized cookie</p>
                <p>Price: P 100.00 </p>
            </center>
        </div>
        <br />
        <div class="column">
            <img src="~/lib/image/cookie4.png" alt="cookie4" style="width:100%">
            <h3> The Nutella Infused Cookie</h3>
            <center>
                <p>Includes: 1 palm-sized cookie</p>
                <p>Price: P 120.00 </p>
            </center>
        </div>
        <br />
        <div class="column">
            <img src="~/lib/image/cookie5.png" alt="cookie5" style="width:100%">
            <h3> The Snicker Kicker Cookie</h3>
            <center>
                <p>Includes: 1 palm-sized cookie</p>
                <p>Price: P 110.00 </p>
            </center>
        </div>
        <br />
        <div class="column">
            <img src="~/lib/image/cookie6 (2).png" alt="cookie6" style="width:100%">
            <h3> The White Chocolate Macadamia Cookie</h3>
            <center>
                <p>Includes: 1 palm-sized cookie</p>
                <p>Price: P 105.00 </p>
            </center>
        </div>

    </body>

</html>
