
@{
	ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" a href="/css/design.css">

</head>
<div class="jumbotron text-center" style=" background-color:#e1d6cf">
    <img src="~/lib/image/logo.png" class="text-md-center" width="230" height="200" />
    <h1> About Project Care </h1>
    <h3><i>Project Care: To Care is To Share.</i></h3>
    <meta name="viewport" content="width=device-width" />
</div>
<body style="background-color: #f7f2ef">
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #c4aca5;">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="~/Home/Index">Home <span class="sr-only">(current)</span></a>
			</div>
		</div>
	</nav>

	<div class="container">
		
		<div>

			<section>
				<blockquote class="blockquote text-right">

					<p class="mb-sm-auto">
						PROJECT CARE contains local businesses that donate a given percentage of
						their income to their chosen charity. With this website, Consumers who are into online shopping
						can easily find businesses who provide legitimate transparency reports.

					</p>

				</blockquote>

			</section>
			
		</div>
	</div>

</body>

</html>
